appdirs==1.4.4
argon2-cffi==20.1.0
attrs==20.1.0
backcall==0.2.0
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
-e git+https://github.com/fbuchinger/foldingathome.git@460e69c3c3683b2751c4793bf4b495915b980b48#egg=foldingathome
idna==2.10
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
jedi==0.17.2
Jinja2==2.11.2
jinja2-cli==0.7.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
lxml==4.6.1
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.3
numpy==1.19.1
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
pickleshare==0.7.5
polling2==0.4.6
prometheus-client==0.8.0
prompt-toolkit==3.0.6
pycparser==2.20
pyee==7.0.4
Pygments==2.6.1
pyparsing==2.4.7
pyppeteer==0.2.2
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==4.7.6
QtPy==1.9.0
rdfextras==0.4
rdflib==5.0.0
rdflib-jsonld==0.5.0
requests==2.24.0
requests-cache==0.5.2

